D2L_BASE_URL=https://test.brightspace.com # KEEP FOR TESTING
D2L_API_TOKEN=test-token
NOTION_API_TOKEN=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
POSTGRES_URL=postgresql+asyncpg://user:password@localhost:5432/d2lnotion
REDIS_URL=redis://localhost:6379